@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post">
    <input type="text" name="user" value="" autofocus placeholder="Usuário" />
    <input type="password" name="pass" value="" placeholder="Senha" />
    <input type="submit" value="Login" />
</form>
